{# src/Sdz/BlogBundle/Resources/views/Blog/modifier.html.twig #}
{% extends "SdzBlogBundle::layout.html.twig" %}
{% block title %}
    Modifier un article - {{ parent() }}
{% endblock %}
{% block sdzblog_body %}
    <h2>Modifier un article</h2>
    {% include "SdzBlogBundle:Blog:formulaire.html.twig" with {'form': form} %}
    <p>
        <a href="{{ path('sdzblog_voir', {'slug': article.slug}) }}" class="btn">
        {#<a href="#" class="btn">#}
            <i class="icon-chevron-left"></i>
            Retour à l'article
        </a>
    </p>
{% endblock %}