<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec le Site du Zéro!</title>
</head>
<body>
<h1>Suppression</h1>
<p>
    suppression de l'article {{ id }}
</p>
</body>
</html>